name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        pip install -r 08-ci-cd-pipeline/app/requirements.txt
        pip install requests pytest

    - name: Run tests
      run: pytest 08-ci-cd-pipeline/tests
    - name: Install test dependencies
      run: pip install pytest pytest-cov

    - name: Run tests
      run: pytest -q

